def minrashod(N, rasstoianie, tarifi):
    rashod = float('inf')
    m = []

    matrrashod = [[0] * N for _ in range(N)]

    for i in range(N):
        for j in range(N):
            matrrashod[i][j] = rasstoianie[j] * tarifi[i]

    for i in range(N):
        mesto = sorted(range(N), key=lambda x: matrrashod[i][x])
        tekushirashod = sum(matrrashod[j][mesto[j]] for j in range(N))

        if tekushirashod < rashod:
            rashod = tekushirashod
            m = [x + 1 for x in mesto]
    return m, rashod

N = int(input("Количество сотрудников? "))
distances = list(map(int, input("Расстояние от работы до дома? (через пробел для каждого сотрудника) ").split()))
tarifi = list(map(int, input("Тарифы за проезд для каждого сотрудника соответственно?(через пробел для каждого сотрудника) ").split()))

mesto, rashodi = minrashod(N, distances, tarifi)
print("Вариант рассадки: " + " ".join(map(str, mesto)))
print("Стоимость тарифа")
if rashodi < 1000:
    print(f"{rashodi:.2f} рубля")
else:
    print(f"{rashodi:.2f} рублей")
